.level-editor {
  position: fixed;
  top: 100px; /* Adjusted for better visibility */
  left: 400px; /* Moved to the left side */
  z-index: 1000;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  max-height: 80vh; /* Adjusted to fit more content */
  width: auto;
  
}

.obstacle-selection {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.obstacle-option {
  display: flex;
  align-items: center;
  justify-content: start; /* Align items to the start */
  flex-grow: 1;
}

.obstacle-image-container {
  flex-basis: 20%; /* Allocate space for images */
  text-align: center; /* Center images */
}

.obstacle-image {
  width: 80px; /* Adjust size */
  height: 80px; /* Adjust size */
  margin: 5px; /* Add some space around */
  border: 2px solid transparent;
}

input[type="radio"]:checked + .obstacle-image {
  border-color: #4CAF50;
}

.obstacle-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align text and checkboxes to the start */
  padding-left: 20px; /* Add some space between image and details */
}

.column-selection {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.column-selection span {
  margin-right: 10px;
  font-weight: bold;
}

.create-segment-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
}

.editor-instruction, .obstacle-label {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left; /* Ensure text is aligned to the left */
}

/* Additional styles for checkboxes */
input[type="checkbox"] {
  margin-right: 5px;
}
